In [2]:
import pandas as pd
import json
from pandas.io.json import json_normalize
json.load((open('data/world_bank_projects.json')))
df = pd.read_json('data/world_bank_projects.json')
df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [3]:
len(df)

500

In [4]:
df.countryshortname.value_counts().head(10)

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Bangladesh            12
Nepal                 12
Morocco               12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

In [12]:
data = json.load((open('data/world_bank_projects.json'))) #load input data
themes_df = json_normalize(data, 'mjtheme_namecode',['_id','countryname'])  # normalize dataframe to split multiple codes/names per project id.
csort_df = themes_df.set_index(['code']).sort_index()  #sort df by column "code"
csort_df['name'] = csort_df.name.replace('',method='ffill')  #forward fill name column to fill blank spaces 
csort_df=csort_df.reset_index()      #reset df to make "code" a column
csort_df['_id'] = csort_df['_id'].astype(str)  #set type from dictionary to string
csort_df=csort_df.drop_duplicates(['_id','code'], keep='first')  #remove duplicate entry for same project id (but it's not working.)

q2_df = csort_df.groupby(['code','name']).size().sort_values(ascending=False).head(10)#group df by size of code and sort by descending

q2_df

code  name
11    Environment and natural resources management    157
10    Rural development                               148
2     Public sector governance                        140
8     Human development                               128
4     Financial and private sector development        119
6     Social protection and risk management           116
7     Social dev/gender/inclusion                     114
5     Trade and integration                            61
9     Urban development                                40
1     Economic management                              33
dtype: int64

In [13]:
csort_df # question 3. this was done on line 4 above.

,code,name,_id,countryname
0,1,Economic management,{'$oid': '52b213b38594d8a2be17c81f'},Democratic Republic of Sao Tome and Prin
1,1,Economic management,{'$oid': '52b213b38594d8a2be17c91a'},Oriental Republic of Uruguay
2,1,Economic management,{'$oid': '52b213b38594d8a2be17c919'},Republic of Colombia
4,1,Economic management,{'$oid': '52b213b38594d8a2be17c915'},Kingdom of Tonga
5,1,Economic management,{'$oid': '52b213b38594d8a2be17c8ad'},Republic of Yemen
6,1,Economic management,{'$oid': '52b213b38594d8a2be17c85c'},Lao People's Democratic Republic
8,1,Economic management,{'$oid': '52b213b38594d8a2be17c8eb'},Ukraine
9,1,Economic management,{'$oid': '52b213b38594d8a2be17c911'},Pacific Islands
10,1,Economic management,{'$oid': '52b213b38594d8a2be17c95f'},Republic of Guatemala
11,1,Economic management,{'$oid': '52b213b38594d8a2be17c801'},Republic of Poland
12,1,Economic management,{'$oid': '52b213b38594d8a2be17c802'},Republic of Cote d'Ivoire
13,1,Economic management,{'$oid': '52b213b38594d8a2be17c8d4'},Republic of the Union of Myanmar
14,1,Economic management,{'$oid': '52b213b38594d8a2be17c889'},United Republic of Tanzania
15,1,Economic management,{'$oid': '52b213b38594d8a2be17c8da'},United Republic of Tanzania
16,1,Economic management,{'$oid': '52b213b38594d8a2be17c7a1'},Republic of Seychelles
17,1,Economic management,{'$oid': '52b213b38594d8a2be17c8e0'},"Macedonia, former Yugoslav Republic of"
18,1,Economic management,{'$oid': '52b213b38594d8a2be17c82d'},Republic of Malawi
19,1,Economic management,{'$oid': '52b213b38594d8a2be17c8e5'},Republic of Azerbaijan
21,1,Economic management,{'$oid': '52b213b38594d8a2be17c8f7'},Republic of Honduras
23,1,Economic management,{'$oid': '52b213b38594d8a2be17c81e'},Kingdom of Lesotho
24,1,Economic management,{'$oid': '52b213b38594d8a2be17c923'},Republic of Maldives
25,1,Economic management,{'$oid': '52b213b38594d8a2be17c924'},Hashemite Kingdom of Jordan
26,1,Economic management,{'$oid': '52b213b38594d8a2be17c913'},Republic of Kenya
27,1,Economic management,{'$oid': '52b213b38594d8a2be17c7de'},Republic of Armenia
28,1,Economic management,{'$oid': '52b213b38594d8a2be17c89a'},Socialist Republic of Vietnam
29,1,Economic management,{'$oid': '52b213b38594d8a2be17c7d1'},Republic of Tunisia
30,1,Economic management,{'$oid': '52b213b38594d8a2be17c7cb'},Kyrgyz Republic
31,1,Economic management,{'$oid': '52b213b38594d8a2be17c7c0'},Islamic State of Afghanistan
32,1,Economic management,{'$oid': '52b213b38594d8a2be17c781'},Republic of Tunisia
33,1,Economic management,{'$oid': '52b213b38594d8a2be17c7d3'},Republic of Mozambique
...,...,...,...,...
1461,9,Urban development,{'$oid': '52b213b38594d8a2be17c8bc'},Kingdom of Morocco
1462,9,Urban development,{'$oid': '52b213b38594d8a2be17c87a'},People's Republic of China
1463,9,Urban development,{'$oid': '52b213b38594d8a2be17c824'},People's Republic of China
1464,9,Urban development,{'$oid': '52b213b38594d8a2be17c8b9'},Republic of Rwanda
1465,9,Urban development,{'$oid': '52b213b38594d8a2be17c831'},West Bank and Gaza
1466,9,Urban development,{'$oid': '52b213b38594d8a2be17c8b3'},Kingdom of Thailand
1467,9,Urban development,{'$oid': '52b213b38594d8a2be17c85d'},Socialist Republic of Vietnam
1469,9,Urban development,{'$oid': '52b213b38594d8a2be17c865'},Republic of Mozambique
1470,9,Urban development,{'$oid': '52b213b38594d8a2be17c933'},Plurinational State of Bolivia
1471,9,Urban development,{'$oid': '52b213b38594d8a2be17c942'},People's Republic of Bangladesh
1472,9,Urban development,{'$oid': '52b213b38594d8a2be17c820'},Socialist Republic of Vietnam
1473,9,Urban development,{'$oid': '52b213b38594d8a2be17c941'},Africa
1474,9,Urban development,{'$oid': '52b213b38594d8a2be17c7c2'},Kingdom of Morocco
1475,9,Urban development,{'$oid': '52b213b38594d8a2be17c7ca'},Republic of Mozambique
1476,9,Urban development,{'$oid': '52b213b38594d8a2be17c938'},Nepal
1477,9,Urban development,{'$oid': '52b213b38594d8a2be17c930'},United Republic of Tanzania
1478,9,Urban development,{'$oid': '52b213b38594d8a2be17c848'},People's Republic of China
1479,9,Urban development,{'$oid': '52b213b38594d8a2be17c87c'},Republic of Uganda
1480,9,Urban development,{'$oid': '52b213b38594d8a2be17c893'},People's Republic of China
1481,9,Urban development,{'$oid': '52b213b38594d8a2be17c804'},Federative Republic of Brazil
1482,9,Urban development,{'$oid': '52b213b38594d8a2be17c84d'},Democratic Republic of the Congo
1483,9,Urban development,{'$oid': '52b213b38594d8a2be17c795'},Nepal
1485,9,Urban development,{'$oid': '52b213b38594d8a2be17c800'},Islamic Republic of Mauritania
1487,9,Urban development,{'$oid': '52b213b38594d8a2be17c8c2'},Middle East and North Africa
1490,9,Urban development,{'$oid': '52b213b38594d8a2be17c87d'},Republic of South Sudan
1491,9,Urban development,{'$oid': '52b213b38594d8a2be17c95b'},Republic of Indonesia
1492,9,Urban development,{'$oid': '52b213b38594d8a2be17c7f9'},People's Republic of China
1493,9,Urban development,{'$oid': '52b213b38594d8a2be17c95a'},Islamic Republic of Pakistan
1495,9,Urban development,{'$oid': '52b213b38594d8a2be17c81d'},Republic of Togo
1497,9,Urban development,{'$oid': '52b213b38594d8a2be17c7fc'},Republic of Honduras